 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #ffffff;
  color: #333;
  padding: 20px;
}

header {
  background-color: #0A2851;
  color: white;
  padding: 20px 30px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

header h1 {
  font-size: 28px;
  font-weight: 700;
}

.btn-nova {
  background: #5d5fe0;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s;
}

.btn-nova:hover {
  background: #9fa2eb;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  margin-bottom: 25px;
}

.stat-box {
  background: #0A2851;
  color: white;
  padding: 20px;
  text-align: left;
}

.stat-box strong {
  display: block;
  font-size: 32px;
  font-weight: 800;
  margin-top: 8px;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
  max-width: 500px;
}

.search-bar input {
  flex: 1;
  padding: 14px 18px;
  border: 2px solid #9c9595;
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.search-bar input:focus {
  outline: none;
  border-color: #3b82f6;
}

.search-bar button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #0A2851;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s;
}

.search-bar button:hover {
  background-color: #22577A;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.1);
  border: 1px solid #f1f5f9;
  transition: all 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card:hover {
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.card-info div {
  margin-bottom: 8px;
  font-size: 15px;
}

.card-info strong {
  color: #1e40af;
  font-weight: 600;
}

.edit-btn {
  background: #0A2851;
  color: white;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s;
  flex-shrink: 0;
}

.edit-btn:hover {
  background: #22577A;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.btn-icon {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;

  background: white;
  color: #0A2851;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  cursor: pointer;

  transition: all 0.3s;
}

.btn-icon:hover {
  transform: scale(1.05);
  background: #f3f4f6;
}

.btn-icon i,
.search-bar button i,
.edit-btn i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.search-bar button i,
.edit-btn i {
  pointer-events: none;
}

.search-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* modal notificação*/
/* MODAL NOTIF */
.modal-notif-box {
  background: white;
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
  padding: 20px;

  box-shadow: 0 20px 50px rgba(0,0,0,0.25);
  animation: aparecer 0.2s ease;
}

/* TÍTULO */
.modal-notif-box h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #0A2851;
}

/* LISTA */
.lista-notif {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 300px;
  overflow-y: auto;
}

/* ITEM */
.notif-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background: #f9fafb;
  align-items: center;
  transition: 0.2s;
}

.notif-item:hover {
  background: #eef2ff;
}

/* ÍCONE */
.notif-item i {
  font-size: 18px;
  color: #3b82f6;
  min-width: 20px;
}

/* TEXTO */
.notif-item p {
  font-size: 14px;
}

.notif-item span {
  font-size: 12px;
  color: #666;
}

/* BOTÃO */
.fechar-notif {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #0A2851;
  color: white;
  cursor: pointer;
}

.fechar-notif:hover {
  background: #081d3a;
}

/* modal criar solicitação*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-box {
  background: white;
  padding: 30px;
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.25);
  animation: aparecer 0.2s ease;
}

@keyframes aparecer {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1e40af;
}

.modal-box form {
  display: flex;
  flex-direction: column;
}

.modal-box label {
  font-size: 14px;
  margin: 10px 0 5px;
  font-weight: 500;
}

.modal-box span {
  color: #0A2851;
}

.modal-box input,
.modal-box select,
.telefone-input {
  padding: 12px 14px;
  border-radius: 10px;
  border: 2px solid #e5e7eb;
  font-size: 14px;
  transition: border-color 0.3s;
}

.modal-box input:focus,
.modal-box select:focus,
.telefone-input:focus {
  outline: none;
  border-color: #0A2851;
}

.datas {
  display: flex;
  gap: 15px;
}

.datas div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.datas input {
  width: 100%;
}

.telefone-input {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 0 10px;
  height: 50px;
}

.telefone-input span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.telefone-input input {
 border: none;
  outline: none;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 14px;
  line-height: normal;
  position: relative;
}

.acoes {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 25px;
}

.cancelar {
  background: #f3f4f6;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  width: 150px;
}

.cancelar:hover {
  background: #e5e7eb;
}

.ok {
  background-color: #0150ac;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  width:150px;
}

.ok:hover {
  background-color: #0A2851;
}

/* Responsivo */
@media (max-width: 768px) {
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }
  
  header {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  
  .cards {
    grid-template-columns: 1fr;
  }
}