 /*tem que colocar "!important", se não o bootstrap não adere ao estilo */

body {
  padding-top: 70px;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  scroll-behavior: smooth; 
}

section {
  scroll-margin-top: 80px;
}

#home,
#sobrenos {
  padding-top: 70px; 
}

#home {
  margin-bottom: 50px;
}

.nossa-historia {
  height: 100vh !important;
}

.navbar {
      background-color: #1b1b2f; 
    }

    .navbar-nav .nav-link {
      margin: 0 12px;          
      color: #d9d9d9 !important; 
      font-weight: 500;         
    }
    .navbar-nav .nav-link:hover {
      color: #ffffff !important;  
    }

    /* Botão de contato */
    .navbar .btn-contato {
      width: 140px !important;         
      text-align: center !important; 
      font-weight: 500 !important;
      border-radius: 8px !important; 
      padding-left: 25px !important;
      padding-right: 25px !important;

     }

.img-wrapper {
  width: 90%;
  height: 90%;
  overflow: hidden;
  margin-left: 20px;
  margin-top: 30px;
  border-radius:  60% 40% 30% 70% / 60% 30% 70% 40% !important;

}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  aspect-ratio: 1.4 / 0;
}

.bg-azul {
  background-color: #1b4f9c; 
}

.nossa-historia {
  min-height: 100vh !important; 
}

/* ======== LINHA DO TEMPO ======== */

.linha-tempo {
  background-color: #ffffff;
  min-height: 60vh; 
  padding: 60px 0;
}

.timeline {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:150px auto 0; 
  width: 90%;
  max-width: 1100px;
  border-top: 3px solid #b3b3be;
  padding-top: 10px; 
}

.timeline-event {
  position: relative;
  text-align: center;
  flex: 1;
}

.timeline-dot {
  width: 20px;
  height: 20px;
  background-color: #1b1b2f;
  border-radius: 50%;
  position: relative;
  top: -20px;
  margin: 0 auto;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 2;
}

.timeline-year {
  font-size: 0.85rem;
  color: #1b1b2f;
  margin-top: 5px;
  font-weight: 600;
  cursor: default;
}

.timeline-event:hover .timeline-dot {
  background-color: #1b4f9c;
}

.tooltip {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  width: 230px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  padding: 15px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease, transform 0.25s ease;
  font-size: 0.9rem;
  pointer-events: none;
}

.timeline-event:hover .tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-5px);
  pointer-events: auto;
}

.tooltip::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.tooltip strong {
  display: block;
  margin-bottom: 6px;
  color: #1b1b2f;
}

/* ======== COMPETÊNCIAS ======== */
