{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>FETELECOM</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <link rel="stylesheet" href="{% static 'css/areaCliente.css' %}">

  <link rel="shortcut icon" href="{% static 'images/icons/icon-page.png' %}">
</head>
<body>

<header>
  <h1>Olá, {{ primeiro_nome }}</h1>

  <div class="header-actions">
    <button class="btn-icon btn-notificacoes">

    <i class="fa-solid fa-bell"></i>

    {% if nao_lidas > 0 %}
    <span class="badge-notif">
        {{ nao_lidas }}
    </span>
    {% endif %}

  </button>

    <a href="{% url 'logout' %}" class="btn-icon">
    <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </a>

    <button class="btn-nova">NOVA SOLICITAÇÃO</button>
  </div>
</header>

<div class="stats">
  <div class="stat-box">Em Análise<br> <strong>{{ em_analise|default:0 }}</strong></div>
  <div class="stat-box">Agendadas<br> <strong>{{ agendadas|default:0 }}</strong></div>
  <div class="stat-box">Concluídas<br><strong>{{ concluidas|default:0 }}</strong></div>
  <div class="stat-box">Canceladas<br><strong>{{ canceladas|default:0 }}</strong></div>
  <div class="stat-box">Total<br> <strong>{{ total_solicitacoes|default:0 }}</strong></div>
</div>

<form method="GET" action="" class="search-bar">
  <input
    type="text"
    name="busca"
    placeholder="Buscar por ID, Serviço ou Porte..."
    value="{{ termo_busca }}"
  >
  <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  
  <div class="filter-wrapper">
    <i class="fa-solid fa-filter"></i>

    <select name="status_filtro"
            onchange="this.form.submit()"
            class="filter-select">

        <option value="">Todos</option>

        <option value="Recebida"
            {% if status_atual == "Recebida" %}selected{% endif %}>
            Recebida
        </option>

        <option value="Em análise"
            {% if status_atual == "Em análise" %}selected{% endif %}>
            Em análise
        </option>

        <option value="Agendada"
            {% if status_atual == "Agendada" %}selected{% endif %}>
            Agendada
        </option>

        <option value="Em andamento"
            {% if status_atual == "Em andamento" %}selected{% endif %}>
            Em andamento
        </option>

        <option value="Concluída"
            {% if status_atual == "Concluída" %}selected{% endif %}>
            Concluída
        </option>

        <option value="Cancelada"
            {% if status_atual == "Cancelada" %}selected{% endif %}>
            Cancelada
        </option>
    </select>
</div>
   <a href="{% url 'area_cliente' %}" class="btn-limpar">
        <i class="fa-solid fa-trash"></i>
    </a>
</form>

<div class="cards">
  {% for s in solicitacoes %}
    <div class="card">
      <div class="card-topo">
        <div>
          <h3>{{ s.tipo_servico }}</h3>
          <span class="protocolo">Solicitação #{{ s.id }}</span>
        </div>
        <span class="status {{ s.status|slugify }}">{{ s.status }}</span>
      </div>

      <div class="card-info">
        <div class="info-item">
          <i class="fa-solid fa-calendar-days"></i>
          <div>
            <small>Data disponível</small>
            <p>{{ s.data_disponivel|date:"d/m/Y" }}</p>
          </div>
        </div>

        <div class="info-item">
          <i class="fa-solid fa-clock"></i>
          <div>
            <small>Horário</small>
            <p>{{ s.horario_disponivel }}</p>
          </div>
        </div>

        <div class="info-item">
          <i class="fa-solid fa-building"></i>
          <div>
            <small>Porte do local</small>
            <p>{{ s.porte_local }}</p>
          </div>
        </div>

        <div class="info-item">
          <i class="fa-solid fa-plus"></i>
          <div>
            <small>Criada em</small>
            <p>{{ s.criado_em|date:"d/m/Y H:i" }}</p>
          </div>
        </div>
      </div>

      {% if s.pode_editar %}
        <a href="{% url 'editar_solicitacao' s.id %}" class="edit-btn">
          <i class="fa-solid fa-pen"></i>
        </a>
      {% else %}
        <button class="edit-btn disabled" disabled title="Solicitação bloqueada para edição">
          <i class="fa-solid fa-pen"></i>
        </button>
      {% endif %}
    </div>
  {% empty %}
    <p>Nenhuma solicitação encontrada.</p>
  {% endfor %}
</div>

<div id="modal-notif" class="modal-overlay">
    <div class="modal-notif-box">
        <div class="notif-header">
            <h2>Notificações</h2>
        </div>
        <div class="lista-notif">
            {% for notif in notificacoes %}
            <div class="notif-item">
                <div class="notif-icon">
                    <i class="fa-solid fa-bell"></i>
                </div>

                <div class="notif-content">
                    <p>{{ notif.titulo }}</p>

                    <small>
                        {{ notif.mensagem }}
                    </small>

                    <span>
                        {{ notif.criada_em|date:"d/m/Y H:i" }}
                    </span>
                </div>
            </div>
            {% empty %}
            <div class="notif-vazia">
                <i class="fa-solid fa-bell-slash"></i>
                <p>Nenhuma notificação encontrada.</p>
            </div>
            {% endfor %}
        </div>
        <button class="fechar-notif">
            Fechar
        </button>
    </div>
</div>

<div id="modal" class="modal-overlay">
  <div class="modal-box">
    <h2>Nova Solicitação</h2>
    <form method="POST" action="{% url 'criar_solicitacao' %}">
      {% csrf_token %}
      <label>Tipo de serviço</label>
      <select name="tipo_servico" required>
        <option value="">Selecione</option>
        <option>Instalação</option>
        <option>Manutenção</option>
        <option>Reparo</option>
      </select>

      <label>Endereço</label>
      <input type="text" name="endereco" placeholder="Digite o endereço" required>

      <div class="datas">
        <div>
          <label>Preferência de atendimento</label>
          <input type="date" name="data" required>
        </div>

        <div>
          <label>Horário disponível</label>
          <select name="horario" required>
            <option value="">Selecione</option>
            <option value="08:00">08:00</option>
            <option value="10:00">10:00</option>
            <option value="12:00">12:00</option>
            <option value="14:00">14:00</option>
            <option value="16:00">16:00</option>
          </select>
        </div>

        <div>
          <label>Porte do local</label>
          <select name="porte_local" required>
            <option value="">Selecione</option>
            <option value="Pequena">Pequena</option>
            <option value="Média">Média</option>
            <option value="Grande">Grande</option>
          </select>
        </div>
      </div>

      <label>Observações</label>
      <textarea name="detalhes" rows="4" placeholder="Descreva detalhes importantes da solicitação..."></textarea>

      <div class="acoes">
        <button type="button" class="cancelar">Cancelar</button>
        <button type="submit" class="ok">Criar</button>
      </div>
    </form>
  </div>
</div>

<script>
  const modal = document.getElementById("modal");
  const abrir = document.querySelector(".btn-nova");
  const cancelar = document.querySelector(".cancelar");

  abrir.onclick = () => modal.style.display = "flex";
  cancelar.onclick = () => modal.style.display = "none";

  modal.onclick = (e) => {
    if (e.target === modal) modal.style.display = "none";
  };

  document.addEventListener("keydown", (e) => {
    if (e.key === "Escape") modal.style.display = "none";
  });
</script>

<script>
 const btnNotif = document.querySelector(".btn-notificacoes");
  const modalNotif = document.getElementById("modal-notif");
  const fecharNotif = document.querySelector(".fechar-notif");

  btnNotif.onclick = () => {
      modalNotif.style.display = "flex";
  };

  fecharNotif.onclick = () => {
      modalNotif.style.display = "none";
  };

  modalNotif.onclick = (e) => {
      if (e.target === modalNotif) {
          modalNotif.style.display = "none";
      }
  };
</script>

<script src="{% static 'js/mascara.js' %}"></script>
</body>
</html>